<ion-header>
  <ion-toolbar>
    <ion-title>skills-matrix-line-item-skills-edit</ion-title>
  </ion-toolbar>
  <ion-button class="" [disabled]="!isSelectedSkillAbleToMoveUp()" (click)="onMoveSkillUpClicked()">Move Skill Up</ion-button>
  <ion-button class="" [disabled]="!isSelectedSkillAbleToMoveDown()" (click)="onMoveSkillDownClicked()">Move Skill Down</ion-button>
  <ion-button class="" [disabled]="!isSelectedSkillAbleToMove()" (click)="onMoveSkillClicked()">Move Skill</ion-button>
  <ion-button class="" [disabled]="!isSkillSelected()" (click)="onEditSkillClicked()">Edit Skill</ion-button>
  <ion-button class="" (click)="onAddSkillClicked()">Add Skill</ion-button>
  <ion-button class="" [disabled]="!isSkillSelected()" (click)="onDeleteSkillClicked()">Delete Skill</ion-button>
</ion-header>

<ion-content>
  <lib-savvato-skills-matrix-line-item-skills-component [ctrl]="getLineItemSkillsComponentController()"></lib-savvato-skills-matrix-line-item-skills-component>
</ion-content>

<ion-footer>
  <ion-button class="" (click)="onFinishedEditingBtnClicked()">Finished Editing</ion-button>
</ion-footer>
