<ion-header>
  <ion-toolbar>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
	<ion-button class="" (click)="onNewTopicBtnClicked()">New Topic</ion-button>
	<ion-button class="" [disabled]="!isEditTopicBtnAvailable()" (click)="onEditTopicBtnClicked()">Edit Topic</ion-button>
	<ion-button class="" [disabled]="!isSelectedTopicAbleToMoveUp()" (click)="onMoveTopicUpClicked()">Move Topic Up</ion-button>
	<ion-button class="" [disabled]="!isSelectedTopicAbleToMoveDown()" (click)="onMoveTopicDownClicked()">Move Topic Down</ion-button>
	<span class="setOfButtonsDivider">|</span>
	<ion-button class="" [disabled]="!isNewLineItemBtnAvailable()" (click)="onNewLineItemBtnClicked()">New Line Item</ion-button>
	<ion-button class="" [disabled]="!isEditLineItemBtnAvailable()" (click)="onEditLineItemBtnClicked()">Edit Line Item</ion-button>
	<ion-button class="" [disabled]="!isSelectedLineItemAbleToMoveUp()" (click)="onMoveLineItemUpClicked()">Move Line Item Up</ion-button>
	<ion-button class="" [disabled]="!isSelectedLineItemAbleToMoveDown()" (click)="onMoveLineItemDownClicked()">Move Line Item Down</ion-button>
	<span class="setOfButtonsDivider">|</span>
	<ion-button class="" [disabled]="!isCopyLineItemBtnAvailable()" (click)="onCopyLineItemBtnClicked()">Copy Line Item</ion-button>
	<ion-button class="" [disabled]="!isDeleteLineItemBtnAvailable()" (click)="onDeleteLineItemBtnClicked()">Delete Line Item</ion-button>
</ion-header>

<ion-content class="buttonRow">
	<lib-dtim-techprofile-component [ctrl]="getDtimTechprofileComponentController()"></lib-dtim-techprofile-component>
</ion-content>
<ion-footer>
	<ion-button class="" (click)="onFinishedEditingBtnClicked()">Finished Editing</ion-button>
</ion-footer>