<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="onCreateBtnClick()">Create</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let sm of getSkillsMatrices()">
    {{sm['name']}}
  </ion-item>
  <ion-button color="tertiary" (click)="onCreateBtnClick()">Create</ion-button>
</ion-content>
