<ion-header>
  <ion-toolbar>
    <ion-title>question-display</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button class="" (click)="onEditQuestionBtnClicked()">Edit</ion-button>	
	<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>	
	
	<br/><br/><br/>
	<span class="boldText">Text:</span><br/>
	{{ getQuestionText() }}
	<br/><br/>
	<span class="boldText">Description:</span><br/>
	{{ getQuestionDescription() }}
	<lib-skills-matrix-component [ctrl]="getSkillsMatrixComponentController()"></lib-skills-matrix-component>
	<ion-button class="" (click)="onBackBtnClicked()">Go Back</ion-button>

</ion-content>
